body {
    color: #777777;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5em;
    position: relative;
}

.right {
    color: grey;
    margin-left: 150px;
    font-size: 24px;
}

.image {
    width: 50px;
    height: 50px;
    z-index: 9999;
    color: white;
    margin-left: 10px;
    margin-top: 10px;
}

.icon {
    font-size: 25px;
}

.button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.primary {
    background-color: #007bc1;
    color: white;
}

.logo {
    width: 20px;
    height: 20px;
    top: 10px;
}

.mb-30 {
    margin-bottom: 30px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-60 {
    padding-top: 60px;
}

.pb-60 {
    padding-bottom: 60px;
}

.text-white {
    color: #fff;
}

.relative {
    position: relative;
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.container.fullwidth {
    width: 100%;
}

.no-padding {
    padding: 0;
}

.section-bg {
    background: #f9fafc;
}

@media (max-width: 767px) {
    .no-flex-xs {
        display: block !important;
    }
}

.row.no-margin {
    margin-left: 0;
    margin-right: 0;
}

.box-shadows,
.view-details {
    -webkit-box-shadow: 20px 3px 50px -25px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 20px 3px 50px -25px rgba(0, 0, 0, 0.75);
    box-shadow: 20px 3px 50px -25px rgba(0, 0, 0, 0.75);
}

.sample-text-area {
    background: #fff;
    padding: 100px 0 70px 0;
}

.text-heading {
    margin-bottom: 30px;
    font-size: 24px;
}

b,
i,
sup,
sub,
u,
del {
    color: grey;
}

#closeButton {
    margin-left: -55px;
}

@media (max-width: 767px) {
    #closeButton {
        margin-left: 0px;
        margin-top: 10px;
    }
}

header {
    background: #e5e5e5;
    color: black;
}

.header span {
    color: blue;
    font-weight: bold
}

@media (max-width: 767px) {
    .header-top {
        padding: 15px 0;
    }
}

body {
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

body:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0.6;
    z-index: -1;
}

.main-wrapper-first {
    width: 68.75%;
    margin: 0 auto;
    margin-top: 6rem;
}

@media (min-width: 1200px) {
    .main-wrapper-first {
        width: 75%;
    }
}

@media (max-width: 1199px) {
    .main-wrapper-first {
        width: 90%;
    }
}

@media (max-width: 767px) {
    .main-wrapper-first {
        margin-top: 3rem;
        width: 97%;
    }
}

.main-wrapper {
    background: #fff;
    width: 68.75%;
    margin: 0 auto;
}

@media (min-width: 1200px) {
    .main-wrapper {
        width: 75%;
    }
}

@media (max-width: 1199px) {
    .main-wrapper {
        width: 90%;
    }
}

@media (max-width: 767px) {
    .main-wrapper {
        width: 97%;
    }
}

.p1-gradient-bg,
body:after,
.primary-btn:after {
    background-image: -moz-linear-gradient(135deg, #b0acbd 0%, #b0acbd 100%);
    background-image: -webkit-linear-gradient(135deg, #b0acbd 0%, #b0acbd 100%);
    background-image: -ms-linear-gradient(135deg, #b0acbd 0%, #b0acbd 100%);
}

.p2-gradient-bg,
.feature-area,
.subscription-area,
.generic-banner {
    background-color: #e5e5e5;
}

.section-title {
    padding-bottom: 30px;
}

.section-title h2 {
    margin-bottom: 5px;
}

@media (max-width: 767px) {
    .mt-sm-30 {
        margin-top: 30px;
    }
}

@media (max-width: 767px) {
    .mt-sm-20 {
        margin-top: 20px;
    }
}

.banner-area .height {
    height: 540px;
}

.banner-area .generic-height {
    height: 400px;
}

.banner-area .banner-content {
    margin-top: 50px;
}

.banner-area .banner-content h1 {
    font-size: 36px;
    font-weight: 100;
    line-height: 1.25em;
}

.banner-area .banner-content h1 span {
    font-weight: 600;
}

.hero-area {
    background: url(../img/banner-bg.jpg) no-repeat center/contain;
    background-size: cover;
}

.hero-overlay-bg {
    background-color: #004a75;
    opacity: 0.7;
}

.about-area {
    background: #e5e5e5;
}

.about-left img {
    outline: 10px solid #777;
    outline-offset: -54px;
    border: 44px solid transparent;
    border-width: 15px 10px 85px 85px;
}

.about-right .lnr {
    color: #a387ff;
    font-size: 30px;
}

.about-right h1 {
    font-size: 36px;
    font-weight: 100;
    color: #a387ff;
}

.about-right h1 span {
    font-weight: 600;
    color: #000;
}

.about-right p {
    padding-right: 45px;
}

@media (max-width: 768px) {
    .about-right p {
        padding-right: 0px;
    }
}

.about-right .learn-btn {
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
}

.single-feature {
    background: #e5e5e5;
    padding: 40px;
    margin-bottom: 30px;
    border: 1px solid grey;
}

.single-feature h2 {
    font-size: 1.4em;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.single-feature p {
    line-height: 25px;
    font-size: 14px;
    font-weight: 300;
}

.secvice-area {
    background: #f9faff;
}

.secvice-area .single-service:nth-child(2) p {
    min-height: 152px;
}

.footer-area {
    margin-bottom: 90px;
    background-color: #004a75;
    color: white;
}

.generic-banner .banner-content h1 {
    font-weight: 600;
}

.about-generic-area {
    background: #fff;
}

.about-generic-area .border-top-generic {
    padding: 100px 15px;
    border-top: 1px dotted #eee;
}

.about-generic-area p {
    margin-bottom: 20px;
}

.white-bg {
    background: #fff;
}

.section-top-border {
    padding: 70px 0;
    border-top: 1px dotted #eee;
}

.switch-wrap {
    margin-bottom: 10px;
}

.switch-wrap p {
    margin: 0;
}

.draw-border {
    box-shadow: inset 0 0 0 4px white;
    color: white;
    transition: color 0.25s 0.0833333333s;
    position: relative;
}

.draw-border::before,
.draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}

.draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
}

.draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
}

.draw-border:hover {
    color: #004a75;
    background-color: white;
}

.draw-border:hover::before,
.draw-border:hover::after {
    border-color: #004a75;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}

.draw-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
}

.btn {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem 'Roboto Slab', sans-serif;
    padding: 1em 2em;
    letter-spacing: 0.05rem;
}

.btn:focus {
    outline: 2px dotted #55d7dc;
}

#popUp {
    position: fixed;
    max-width: 640px;
    height: 225px;
    background: #007bc1;
    bottom: 0;
    opacity: 0.9;
    margin-left: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

@media (max-width: 767px) {
    #popUp {
        position: fixed;
        max-width: 720px;
        height: 335px;
        background: #007bc1;
        bottom: 0;
        opacity: 0.9;
        margin-left: 0;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }
    #popUp .email {
        width: 100%;
        height: 37px;
    }
    #popUp .button {
        background-color: orange;
        color: white;
        margin: -20px -50px;
        position: relative;
        top: 100%;
        left: 19%;
        width: 90%;
    }
}

#new span {
    background: #fff;
    position: absolute;
    color: #1c8dc4;
    padding: 4px 10px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: -5px;
}

#popUp .close {
    color: white;
    right: 8px;
    top: 0px;
    position: absolute;
    font-size: 20px;
    cursor: pointer;
}

#popUp .icon {
    color: white;
}

#popUp .button {
    background-color: orange;
    color: white;
}

#popUp h2 {
    font-size: 26px;
    color: #464646;
    line-height: 24px;
    font-weight: 400;
    color: white;
    margin-top: 40px;
    padding: 0 20px;
}

#popUp h3 {
    font-size: 14px;
    color: #464646;
    line-height: 24px;
    font-weight: 400;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0 20px;
}

#popUp .email {
    margin-left: 20px;
    width: 100%;
    height: 37px;
}

#plus {
    position: fixed;
    color: #fff;
    bottom: 15%;
    font-size: 15px;
    margin-left: -425px;
    -webkit-transition: all 1.25s ease;
    -moz-transition: all 1.25s ease;
    -o-transition: all 1.25s ease;
    transition: all 1.25s ease;
    cursor: pointer;
    text-align: left;
    letter-spacing: 1px;
}

#plus span {
    position: absolute;
    margin-top: 38px;
    left: 4px;
}

#plus::after {
    content: '';
    display: block;
    display: relative;
    border-top: 55px solid transparent;
    border-bottom: 55px solid transparent;
    border-left: 55px solid #1c8dc4;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: #e5e5e5;
}

.sticky+.content {
    padding-top: 102px;
}

#previewBox {
    z-index: 1000;
    border: 2px solid #007bc1;
}